#basic{
	border-left:none;
}
.mail_list_column{
	border: 1px solid #E6E9ED;
}
.zTreeDemoBackground{
	width: 100%;
}
#createNodeDiv{
	width: 100%;
    text-align: center;
}
#gender input[type=radio]{
	
}
#icon{
	padding-top: 5px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    margin-left:10px;
}